.navbar-nav li:hover{
	  color: #555;
  background-color: #e7e7e7;
}

#work_center_block{
    position: relative;
    width: 100%;
}
#work_center_block:before {
    content:"";
    display: block;
    padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}
#work_center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.poet {
	font-family: ten-mincho, serif;
  	margin: auto;
	width: 90%;
}
.twitter {
	text-align: right;
}
.onkawara {
	font-family: 'futura-pt' sans-serif;
	color:white;
	text-align:center;
}
.myname {
	font-family: 'ten-mincho' 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
	color:white;
	text-align:center;
}
